@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400;1,500&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}
body{
    background: #E5E7EB;
    width: 100%;
    position: relative;
    display: flex;

}
#menu{
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}
#menu .logo img{
    width: 40px;
    margin-right: 15px;
}
#menu .items{
    margin-top: 40px;
}
#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
    
}
#menu .items li:nth-child(1){
    border-left: 4px solid #fff;
}
#menu .items li:hover{
    background: #253047;
    cursor: pointer;
}
#menu .items li svg{
    color: rgba(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}
#menu .items li:hover svg,
#menu .items li:hover a{
    color: #F3F4F6;
}
#menu .items li a{
    text-decoration: none;
    color: rgba(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}
#interface{
    width: 100%;
    margin-left: 300px;
    position: relative;
}
#interface .navigatoin{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width: calc(100% - 300px);
}
#interface .navigatoin .search{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
#interface .navigatoin .search svg{
    margin-right: 14px;
}
#interface .navigatoin .search input{
    border: none;
    outline: none;
    font-size: 14px;
}
#interface .navigatoin .frofile{
    display: flex;
    justify-content: center;
    align-items: center;
}
#interface .navigatoin .frofile svg{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}
#interface .navigatoin .frofile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#menu-btn{
    display: none;
    color: #2b2b2b;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}
.i-mane{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}
.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.values .val-box{
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val-box svg{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: chartreuse;
    margin-right: 15px;

}
.values .val-box:nth-child(1) svg{
    background: #7B74EC;
}
.values .val-box:nth-child(2) svg{
    background: #5C8AF0;
}
.values .val-box:nth-child(3) svg{
    background: #E45D99;
}
.values .val-box:nth-child(4) svg{
    background: #74daec;
}
.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}
.values .val-box span{
    font-size: 15px;
    color: #828997;
}
.board{
    width: 97%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}
.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.board h5{
    font-size: 14px;
    font-weight: 600;
}
.board p{
    font-size: 13px;
    font-weight: 400;
    color: #787d8d;
}
.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 2px solid #eef0f3;
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAFB;
    text-align: start;
    padding: 15px;
}
tbody tr td{
    padding: 10px 15px;
}
.active p{
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
}
.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
}
@media (max-width:769px) {
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
    }
    #menu .active{
        left: 0;
    }
    #menu .active,
    #interface{
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }
    #menu-btn{
        display: initial;
    }
    #interface {
        width:100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }
    #interface .navigatoin{
        width: 100%;
    }
    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }
    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
      
    }
    .board {
        width: 93%;
        padding: 0;
        overflow-x: auto;
      
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
}
@media (max-width: 477px){
    #interface .navigatoin{
        padding: 15px;
    }
    #interface .navigatoin .search input{
        width:150px
    }
    .i-mane{
        padding: 30px 15px 0 30px;
    }
    .values{
        padding: 15px 15px 0 15px;
    }
    .values .val-box{
        width: 100%;
        margin: 8px 0;
    }
    .board{
        margin: 30px 15px 30px 15px;
    }
        
}







